<table>
  <thead>
  <tr>
    <td *ngFor="let column of columns">{{ column}}</td>
    <td *ngIf="actions.length > 0">Actions</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of data | async | pagination:currentPage:nbItemPerPage">
    <td *ngFor="let column of columns">{{ item[column] }}</td>
    <td *ngIf="actions.length > 0">
      <ng-container *ngFor="let action of actions">
        <button *ngIf="action === 'edit'" class="btn green" (click)="editAction(item)">Edit</button>
        <button *ngIf="action === 'delete'" class="btn red" (click)="deleteAction(item)">Delete</button>
      </ng-container>
    </td>
  </tr>
  </tbody>
</table>

<app-pagination [(current)]="currentPage" [nbItemPerPage]="nbItemPerPage" [Length]="this.data | async"></app-pagination>
