<ng-template popup></ng-template>

<form [formGroup]="registerForm" (ngSubmit)="registerAction()">
  <div class="input-field col s12">
    <input id="username" name="usermae" type="text" formControlName="username">
    <label for="username" class="active">Username</label>
    <div *ngIf="registerForm.get('username').invalid && registerForm.get('username').dirty">
      <div class="red" *ngIf="registerForm.get('username').errors.required">Le champ est obligatoire</div>
    </div>
  </div>
  <div class="input-field col s12">
    <input id="password" name="password" type="password" formControlName="password">
    <label for="password" class="active">Password</label>
    <div *ngIf="registerForm.get('password').invalid">
      <div class="red" *ngIf="registerForm.get('password').errors.required">Le champ est obligatoire</div>
    </div>
  </div>
  <div class="input-field col s12">
    <input id="confirmPassword" name="confirmPassword" type="password" formControlName="confirmPassword">
    <label for="confirmPassword" class="active">Confirm password</label>
    <div *ngIf="registerForm.get('confirmPassword').invalid">
      <div class="red" *ngIf="registerForm.get('confirmPassword').errors.required">Le champ est obligatoire</div>
    </div>
  </div>
  <div class="input-field col s12">
    <input id="email" name="email" type="email" formControlName="email">
    <label for="email" class="active">Email</label>
    <div *ngIf="registerForm.get('email').invalid">
      <div class="red" *ngIf="registerForm.get('email').errors.required">Le champ est obligatoire</div>
    </div>
  </div>
  <div class="input-field col s12">
    <input id="confirmEmail" name="confirmEmail" type="email" formControlName="confirmEmail">
    <label for="confirmEmail" class="active">Confirm email</label>
    <div *ngIf="registerForm.get('confirmEmail').invalid">
      <div class="red" *ngIf="registerForm.get('confirmEmail').errors.required">Le champ est obligatoire</div>
    </div>
  </div>
  <div class="row">
    <ng-container *ngFor="let phoneNumber of phoneNumbers.controls; index as i">
      <div class="input-field col s6">
        <input [id]="'phonenumbers-'+ i" name="phonenumbers" type="text" [formControl]="phoneNumbers.at(i)">
        <label [for]="'phonenumbers-'+ i" class="active">Phone number {{ i }} email</label>
        <div></div>
      </div>
    </ng-container>
    <button (click)="addPhoneNumber()">Add phone number</button>
  </div>
  <div class="row">
    <button type="submit">Sign in</button>
  </div>
</form>
