<div class="my-modal">
  <div class="my-modal-content">
    <div class="my-modal-title">BLOP</div>
    <div>{{ message }}</div>
    <div class="my-modal-footer">
      <button (click)="closeAction()">Close</button>
    </div>
  </div>
</div>
