<form [formGroup]="form" (ngSubmit)="submitAction()">
  <div class="input-field col s12">
    <input id="name" name="name" type="text" formControlName="name">
    <label for="name" class="active">Username</label>
    <div *ngIf="form.get('name').invalid && form.get('name').dirty">
      <div class="red" *ngIf="form.get('name').errors.required">Le champ est obligatoire</div>
    </div>
  </div>
  <div class="input-field col s12">
    <input id="firstname" name="firstname" type="text" formControlName="firstname">
    <label for="firstname" class="active">Password</label>
    <div *ngIf="form.get('firstname').invalid && form.get('firstname').dirty">
      <div class="red" *ngIf="form.get('firstname').errors.required">Le champ est obligatoire</div>
    </div>
  </div>
  <div class="input-field col s12">
    <input id="age" name="age" type="number" formControlName="age">
    <label for="age" class="active">Confirm password</label>
    <div *ngIf="form.get('age').invalid">
      <div class="red" *ngIf="form.get('age').errors.min">Le champ est obligatoire</div>
    </div>
  </div>
  <div class="row">
    <button type="submit">Sign in</button>
  </div>
</form>

