<div class="container">
  <ul>
    <li><a [routerLink]="['/person']">Person</a></li>
    <li><a [routerLink]="['/person', 'list']">PersonList</a></li>
    <li><a [routerLink]="['/person', 'Ovyn']">PersonDetail</a></li>
    <li><a [routerLink]="['/person', 'login']">Login</a></li>
  </ul>
  <router-outlet></router-outlet>
</div>
