<div class="row">
  <button class="btn" *ngIf="currentPageInput > 0" (click)="previousAction()">Prévious</button>
  <button class="btn" *ngFor="let page of Range" (click)="goToPage(page)">{{ page }}</button>
  <button class="btn" *ngIf="currentPageInput <= (getLastPage() | async) - 2" (click)="nextAction()">Next</button>
</div>
