.my-modal {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  //background-color: rgb(0,0,0);
  background-color: rgb(0,0,0,0.4);
}

.my-modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px black solid;
  width: 80%;
}
