<div class="my-modal">
  <div class="my-modal-content">
    <h1>Confirmation</h1>
    <div>Voulez-vous executer cette action ?</div>
    <div>
      <button (click)="validAction()" class="btn green left">Valider</button>
      <button (click)="abordAction()" class="btn red right">Annuler</button>
    </div>
  </div>
</div>
